/* header */
h2 {
    font-size: 45px;
    font-weight: 600;
}

h3 {
    color: #208678;
    font-size: 26px;
    font-weight: bold;
}

header {
    background-color: #f3fcfb;
}

.navbar {
    height:80px;
    width: 100%;
    background-color: #f3fcfb;
}
.navbar-brand img{
    height: 26px;
}

.navbar-nav {
    margin-left: auto;
}

.sticky {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0 3px 15px rgb(0 0 0 / 6%);
}

.nav-item {
    padding-right: 15px;
}

ul li .nav-link.active:after {
    width: 100%;
}

ul li .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #208678;
    transition: .2s all;
}

/* a.nav-link
 {
      background-color: white;
      padding: 9px 20px;
       color: black;
  } responsive 425 */


a.nav-link {
    color: black;
    position: relative;
}

.btn {
    padding: 10px 35px;
    margin-left: 10px;
    border-radius: 0;
}

.hidden {
    display: none;
  }
  

/* header */

@media only screen and (min-width: 1441px) {}

@media only screen and (max-width: 1199px) {
    .navbar-brand img {
        height: 23px;
    }
    .nav-item {
        padding-right: 0px;
    }
    .btn {
        padding: 5px 20px;
    }
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }
    /* a.nav-link {
        color: black;
        position: relative;
        background-color: white;
        width: 40%;
    } */
   
}

@media only screen and (max-width: 991px) {
    .navbar {
        height: 65px;
    }
    .navbar-brand img {
        height: 21px;
    }
    .navbar-brand img {
        height: 16px;
    }
    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        font-size: 13px;
        border: none;
    }
    .navbar {
        height: 60px;
    }
    .navbar-nav {
        flex-direction: row;
        background-color: white;
        margin-top: 26px;
        padding: 20px;
        justify-content: space-between;
    }
    /* a.nav-link {
        padding-right: 43px;*/
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
    .navbar-nav {
        justify-content: space-between;
        font-size: 12px;
    }
    .btn {
        padding: 5px 12px;
    }
}