
<!----footer----->
<footer *ngIf="showFooter" class="footer">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-6 col-md-12">
            <img src="../../assets/images/nav_img.png">
            <p class="footer-p">At Granny Flats, we specialize in delivering high-quality, pre-constructed tiny homes designed to meet your lifestyle needs.</p>
            <ul class="list-unstyled">
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              </ul>
        </div>

        <div class="col-12 col-lg-3 col-md-6">
          <h5>Quick Link</h5>
          <ul class="list">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
       
        <div class="col-12 col-lg-3 col-md-6">
          <h5>Contact</h5>
          <ul class="contact1">
            <li class="contact_text">
              <i class="fa-solid fa-phone-volume"></i>
                <p class="contact_p">0123-456789</p>
            </li>

            <li class="contact_text">
              <i class="fa-solid fa-envelope"></i>
                    <p class="contact_p">info&#64;grannyflat.io</p>
            </li>

            <li class="contact_text">
              <i class="fa-solid fa-location-dot"></i>
                    <p class="contact_p">Proin gravida nibh vel velit auctor aliquet.</p>
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="copyright">
        <div class="copyright_p">
          <p>Grannyflat 2024&copy; All Rights Reserve</p>
        </div>
        <div class="copyright_list">
            <li>Terms & conditions</li>
            <li> Privacy Policy</li>
        </div>
      </div>
    </div>
    </div>
  </footer>
  

<!----footer----->