<section class="peoples">
    <div class="person-form">
      <h4>Add Guest</h4>
      <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
        <div formArrayName="persons">
          <div *ngFor="let person of personsArray.controls; let i = index" [formGroupName]="i">
  
            <!-- Person Details -->
            <div class="person_sec">
              <div class="row">
  
                <div class="col-md-8">
                  <div class="addperson">
                    <label for="firstName{{i}}">First Name:</label>
                    <input type="text" id="firstName{{i}}" formControlName="firstName" class="form-control">
  
                    <label for="lastName{{i}}">Last Name:</label>
                    <input type="text" id="lastName{{i}}" formControlName="lastName" class="form-control">
  
                    <label for="age{{i}}">Age:</label>
                    <input type="number" id="age{{i}}" formControlName="age" class="form-control" placeholder="Enter Age">
  
                    <label for="document{{i}}">Upload Document:</label>
                    <input type="file" id="document{{i}}" formControlName="document" class="form-control-file">
                  </div>
                </div>
  
                <!-- Remove Person Button -->
                <div class="col-md-4">
                  <div class="button1">
                    <div class="btn_clear">
                  <button class="btn btn-secondary" type="button" (click)="removePerson(i)">clear</button>
                      </div>
                  <!-- Add Person Button -->
                   <div class="btn_remove">
                  <button class="btn btn-success" color="primary" type="button" (click)="addPerson()">+ Add</button>
                   </div>
                  </div>
                </div>
  
              </div>
            </div>
  
          </div>
        </div>
  
        <!-- Navigation Buttons -->
        <div class="submit">
          <div class="left_btn">
            <button class="btn btn-primary" color="primary" routerLink="/date">Prev</button>
          </div>
          <div class="right_btn">
            <button class="btn btn-success" color="primary" routerLink="/rooms">Next</button>
          </div>
        </div>
      </form>
    </div>
  </section>