<main>


  <section class="banner py">
    <div class="banner-sec banner_text">
        <h1>About Us</h1>
    </div>
</section>


 <!------- about section-------->
 <section class="about">
  <div class="container">
      <div class="row">
          <div class="col-12 col-lg-6">
              <div class="about-img">
                  <img src="../../assets/images/ab2.png">
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="about-text">
                  <h3>ABOUT US</h3>
                  <h2>Our Vision: Tiny Homes, Big Impact</h2>
                  <p>At Grannyflats, we believe in the power of tiny homes to create meaningful change. Our
                      mission is
                      to provide innovative, sustainable, and affordable housing solutions that inspire and
                      empower
                      people to live more intentionally.</p>
                  <p>Grannyflats was founded by a team of passionate builders, designers, and environmental
                      advocates
                      who share a common goal to revolutionize the way we think about living spaces. With years of
                      experience in the construction and design industries, we bring a wealth of knowledge and
                      expertise to every project.</p>
              </div>
          </div>
      </div>
      </div>
</section>
<!------- about section-------->

 <!------- design section-------->
 <section class="design-sec py">
  <div class="container">
      <div class="row">
          <div class="col-12 col-xl-4 col-lg-6 col-md-6">
              <div class="design">
                  <div class="design_text">
                      <h3>Consultation</h3>
                      <p>We start by getting to know you and your vision. Our team will work closely with you to
                          understand your needs and preferences, ensuring that your tiny home reflects your unique
                          lifestyle.</p>
                  </div>
              </div>
          </div>
          <div class="col-12  col-xl-4  col-lg-6 col-md-6">
              <div class="design">
                  <div class="design_text">
                      <h3>Design</h3>
                      <p>Our design team will create a custom layout that maximizes space and functionality. We’ll
                          provide detailed plans and 3D renderings to help you visualize your new home.</p>
                  </div>
              </div>
          </div>
          <div class="col-12  col-xl-4   col-lg-6 col-md-6">
              <div class="design">
                  <div class="design_text">
                      <h3>Installation</h3>
                      <p>We handle all aspects of the installation process, from site preparation to final
                          touches. Our goal is to make your tiny home journey as smooth and stress-free as
                          possible.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!------- design section-------->


 <!-----Testimonials----->
 <section class="testimonial py">
  <div class="container">
      <div class="row">
          <div class="col-12 col-xl-4 col-md-12 col-lg-12 ">
            <div class="test_text">
              <div class="card">
                  <div class="card-body subtitle">
                      <h3 class="title"> TESTIMONIALS </h3>
                      <h2> What Our Clients Are Saying </h2>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-8  col-md-12 col-lg-12">
              <div class="card_2">
                <div #carousel1 class="owl-carousel owl-theme">
                      <div class="item">
                          <img src="../../assets/images/jane.png">
                          <img src="../../assets/images/stars.png" class="stars">
                          <h3>Jane & Mark T.</h3>
                          <p class="items-p">Boulder, CO</p>
                          <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                              Cozy Cottage has exceeded our expectations in every way. The team was professional,
                              attentive, and truly understood our vision. We are absolutely in love with our new
                              home!"</p>
                      </div>
                      <div class="item">
                          <img src="../../assets/images/jane.png">
                          <img src="../../assets/images/stars.png" class="stars">
                          <h3>Jane & Mark T.</h3>
                          <p class="items-p">Boulder, CO</p>
                          <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                              Cozy Cottage has exceeded our expectations in every way. The team was professional,
                              attentive, and truly understood our vision. We are absolutely in love with our new
                              home!"</p>
                      </div>
                      <div class="item">
                          <img src="../../assets/images/jane.png">
                          <img src="../../assets/images/stars.png" class="stars">
                          <h3>Jane & Mark T.</h3>
                          <p class="items-p">Boulder, CO</p>
                          <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                              Cozy Cottage has exceeded our expectations in every way. The team was professional,
                              attentive, and truly understood our vision. We are absolutely in love with our new
                              home!"</p>
                      </div>
                      <div class="item">
                          <img src="../../assets/images/jane.png">
                          <img src="../../assets/images/stars.png" class="stars">
                          <h3>Jane & Mark T.</h3>
                          <p class="items-p">Boulder, CO</p>
                          <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                              Cozy Cottage has exceeded our expectations in every way. The team was professional,
                              attentive, and truly understood our vision. We are absolutely in love with our new
                              home!"</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</section>
<!-----Testimonials----->

<!----subscribe---->

<section class="subscribe">
  <div class="container">
      <div class="subscribe1">
          <div class="row">
              <div class="col-12 col-lg-6">
                  <div class="sub_img">
                      <img src="../../assets/images/subscribe.png">
                  </div>
              </div>
              <div class="col-12 col-lg-6">
                  <div class="sub_text">
                      <h2> Subscribe to Our Newsletter</h2>
                      <p> Join our community of tiny home enthusiasts and stay updated with the latest news, tips,
                          and trends in the tiny home movement.</p>
                          <form action="/action_page.php">
                            <input type="email" class="form-control" placeholder="Your email address"
                                aria-label="Your email address">
                            <button type="button" class="btn btn-success">Submit</button>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!----subscribe---->

</main>





