.destination {
    background-color: #f8f9fa;
    /* Light gray background */
    padding: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* Padding around the whole form */
    margin-top: 50px;
  }
  h4 {
    font-weight: 800;
    margin-bottom: 20px;
  }
  /* You can add global styles to this file, and also import other style files */
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 23px;
  }
  h5{
    font-size: 20px;
  }
  p{
    font-size: 16px;
  }
  label{
    font-size: 16px;
  }
  .btn {
    font-size: 18px;
  }
  
  /* Styling for the form container */
  .destination1 {
    background-color: #ffffff;
    /* White background */
    padding: 30px;
    /* Padding inside the form container */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Shadow for a slight elevation */
  }
  
  button.btn.btn-success {
    padding: 4px 20px;
    
  }
  
  .submit {
    text-align: right;
    margin-top: 20px;
  }
  
  /* Styling for form labels */
  .form_control {
    font-weight: bold;
    /* Bold font for labels */
  }
  
  /* Styling for form inputs and select */
  .form_input {
    width: 100%;
    /* Full width */
    padding: 10px;
    /* Padding inside inputs */
    margin-top: 8px;
    /* Top margin */
    margin-bottom: 15px;
    /* Bottom margin */
    border: 1px solid #ccc;
    /* Light gray border */
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styling for submit button */
  .submit_btn {
    text-align: center;
    margin-top: 20px;
  }
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .text-danger {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  
  @media only screen and (max-width: 991px){
  .destination {
    width: 80%;
  }
  }
  
  @media only screen and (max-width: 991px){
  .destination {
    width: 100%;
  }
  }