
/* booking-form.component.css */
.payment {
    margin-top: 80px;
    background-color: #f9f9f9;
    padding: 20px;
    /* margin: 20px 0; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h4{
    margin-bottom: 20px;
    font-weight: 800;
  }
/*   
  .container {
    max-width: 800px;
    margin: auto;
  } */
  
  /* .booking-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  } */
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    /* font-size: 15px; */
  }
  
  select,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .left_btn {
    width: 45%;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover,
  .btn-success:hover {
    opacity: 0.8;
  }
  
  .text-danger {
    color: #dc3545;
    font-size: 14px;
  }

  input#cardNumber {
    width: 100%;
    display: block;
}
.card_details{
    display: flex;
    width: 100%;
}
.card-details{
    width: 100%;
    background-color: #dbe4ed;
    padding: 20px;
    border-radius: 8px;
}
.card_1{
    display: block;
    margin-right: 20px;
}
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    /* font-size: 14px; */
    border: 1px solid #ccc;
    border-radius: 4px;
}

input#date, input#ccv, input#text, input#cardNumber, select#bookingType, input#expiryDate,input#name {
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-details label{
    margin-top: 10px;
    margin-top: 10px;
    /* font-size: 15px; */
}
  
.card_submit{
  text-align: right;
   width: 100%;
}
.additional_services{
    width: 100%;
    list-style: none;
    /* padding: 10px 10px; */
}
input#\33, input#\32, input#\31{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
input#totalPrice {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* You can add global styles to this file, and also import other style files */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
  }
  h4{
    font-size: 23px;
  }
  h5{
    font-size: 20px;
}
p{
    font-size: 16px;
}
label{
    font-size: 16px;
}
.btn {
    font-size: 18px;
    padding: 4px 20px;
  }


  
@media only screen and (max-width: 991px){
  .destination {
    width: 80%;
  }
  }
  
  @media only screen and (max-width: 991px){
  .destination {
    width: 100%;
  }
  }