<section class="list">
  <div class="container">
    <h4>Hotel List</h4>

    <ul class="hotel-list">
      <li *ngFor="let hotel of hotels" class="hotel-item">
        <div class="hotel-sec">
          <div class="hotel-info">
            <h5>{{ hotel.name }}</h5>
            <div class="rating">
              <p>Rating:</p>
              <mat-icon *ngFor="let star of hotel.ratingStars" color="primary">
                <i class="fa-solid fa-star"></i>
              </mat-icon>
            </div>
          </div>
          <div class="booking-btn">
            <button class="btn btn-success" color="primary" routerLink="/form2/date">Booking</button>
          </div>
        </div>
      </li>
    </ul>

    <!-- Navigation Buttons -->
    <div class="submit">
      <div class="left_btn">
        <button class="btn btn-primary" color="primary" routerLink="/form2/destination">Prev</button>
      </div>
    </div>
  </div>
</section>
