<!-----banner -->
<main>
    <section class="grid py">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 ">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">Welcome To <span>Granny Flats</span></h1>
                            <p class="card-text">At Granny Flats, we specialize in delivering high-quality,
                                pre-constructed
                                tiny homes designed to meet your lifestyle needs.</p>
                            <button class="btn btn-success"> Get started <i
                                    class="fa-solid fa-arrow-right-long"></i></button>
                        </div>
                    </div>
                    <div class="grid_serv">
                        <div class="grid_text">
                            <img src="../../assets/images/quality.svg">
                            <p>Quality Craftsmanship</p>
                        </div>
                        <div class="grid_text">
                            <img src="../../assets/images/innovative.svg">
                            <p>Innovative Design</p>
                        </div>
                        <div class="grid_text">
                            <img src="../../assets/images/sustain.svg">
                            <p>Sustainability</p>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card py_0">
                        <img src="../../assets/images/banner_img.png" class="card_img" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-----banner -->



    <!----work----->
    <section class="work py">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="work_h2">Here's How We Make It Work.</h2>
                            <img src="../../assets/images/home.png" class="card_img" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card">
                        <img src="../../assets/images/sec_img.png" class="sec_img" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----work----->


    <!----services---->
    <section class="services py">
        <h2>Our Services</h2>
        <div class="container">
            <div #carousel1 class="owl-carousel owl-theme">

                <div class="item active">
                    <img src="../assets/images/completed_img.png" alt="Slide 1">
                    <div class="item_sec">
                        <div class="item_text">
                            <h4>Custrom Tiny Home design</h4>
                            <p>From $228,800 or $1,769</p>
                        </div>
                        <div class="item_p">
                            <p>Studio</p>
                        </div>
                    </div>
                </div>

                <div class="item active">
                    <img src="../assets/images/site.png" alt="Slide 2">
                    <div class="item_sec">
                        <div class="item_text">
                            <h4>Site Preparation and delivery </h4>
                            <p>From $228,800 or $1,769</p>
                        </div>
                        <div class="item_p">
                            <p>Studio</p>
                        </div>
                    </div>
                </div>

                <div class="item active">
                    <img src="../assets/images/interior.png" alt="Slide 3">
                    <div class="item_sec">
                        <div class="item_text">
                            <h4>interior Design Consultation</h4>
                            <p>From $228,800 or $1,769</p>
                        </div>
                        <div class="item_p">
                            <p>Studio</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="custom-nav">
                <button class="owl-prev">
                    <img src="../../assets/images/arrow-prev.svg">
                </button>
                <button class="owl-next">
                    <img src="../../assets/images/arrow-next.svg">
                </button>
            </div>
        </div>
    </section>
    <!----services---->

    <!--- designed --->
    <section class="designed py">
        <h2>Home Redesigned</h2>
        <div class="container">
            <div class="row">
                <div class="col-12  col-xl-4  col-lg-6 col-md-6">
                    <div class="bg">
                        <div class="des_text">
                            <h4>Expert Craftsmanship</h4>
                            <p>Our homes are built with meticulous attention to detail, using top-quality materials to
                                ensure durability and aesthetic appeal.</p>
                            <button type="button" class="btn btn-secondary">How it works</button>
                        </div>
                    </div>
                </div>

                <div class="col-12  col-xl-4  col-lg-6 col-md-6">
                    <div class="bg">
                        <div class="des_text">
                            <h4>Customizable Designs</h4>
                            <p>We offer a variety of designs that can be customized to match your preferences and
                                requirements, ensuring your new home is uniquely yours.</p>
                            <button type="button" class="btn btn-secondary">How it works</button>
                        </div>
                    </div>
                </div>
                <div class="col-12  col-xl-4  col-lg-6 col-md-6">
                    <div class="bg">
                        <div class="des_text">
                            <h4>Affordable Living</h4>
                            <p>Enjoy the benefits of a fully constructed home without the hefty price tag. Our tiny
                                homes
                                are a cost-effective alternative to traditional housing.</p>
                            <button type="button" class="btn btn-secondary">How it works</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- designed --->

    <!---- project ---->
    <section class="project py">
        <div class="container">
            <div class="project_heading">
                <div class="project_text">
                    <h2>Our Completed</h2>
                    <h2>Projects</h2>
                </div>
                <div class="custom-nav">
                    <button class="owl-prev">
                        <img src="../../assets/images/arrow-prev.svg">
                    </button>
                    <button class="owl-next">
                        <img src="../../assets/images/arrow-next.svg">
                    </button>
                </div>
            </div>
            <div #carousel2 class="owl-carousel owl-theme">

                <div class="project_item">
                    <img src="../../assets/images/completed_img.png" alt="Slide 1">
                    <div class="units">
                        <p class="law-unit">In-Law Unit</p>
                        <p class="date">July 1, 2024</p>
                    </div>
                    <h4>The Family Nest</h4>
                </div>

                <div class="project_item">
                    <img src="../../assets/images/com.png" alt="Slide 2">
                    <div class="units">
                        <p class="law-unit">In-Law Unit</p>
                        <p class="date">July 1, 2024</p>
                    </div>
                    <h4>The Beach Bungalow</h4>
                </div>

                <div class="project_item">
                    <img src="../../assets/images/completed_img.png" alt="Slide 3">
                    <div class="units">
                        <p class="law-unit">In-Law Unit</p>
                        <p class="date">July 1, 2024</p>
                    </div>
                    <h4>The Family Cottage</h4>
                    <!-- Add more slides as needed -->
                </div>
            </div>
        </div>
    </section>
    <!---- project ---->

    <!-----Testimonials----->
    <section class="testimonial py">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-4 col-md-12 col-lg-12 ">
                    <div class="test_text">
                        <div class="card">
                            <div class="card-body subtitle">
                                <h3 class="title"> TESTIMONIALS </h3>
                                <h2> What Our Clients Are Saying </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8 col-md-12 col-lg-12 ">
                    <div class="card_2">
                        <div #carousel3 class="owl-carousel owl-theme">
                            <div class="tm-item">
                                <img src="../../assets/images/jane.png">
                                <img src="../../assets/images/stars.png" class="stars">
                                <h3>Jane & Mark T.</h3>
                                <p class="items-p">Boulder, CO</p>
                                <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                                    Cozy Cottage has exceeded our expectations in every way. The team was professional,
                                    attentive, and truly understood our vision. We are absolutely in love with our new
                                    home!"</p>
                            </div>
                            <div class="tm-item">
                                <img src="../../assets/images/jane.png">
                                <img src="../../assets/images/stars.png" class="stars">
                                <h3>Jane & Mark T.</h3>
                                <p class="items-p">Boulder, CO</p>
                                <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                                    Cozy Cottage has exceeded our expectations in every way. The team was professional,
                                    attentive, and truly understood our vision. We are absolutely in love with our new
                                    home!"</p>
                            </div>
                            <div class="tm-item">
                                <img src="../../assets/images/jane.png">
                                <img src="../../assets/images/stars.png" class="stars">
                                <h3>Jane & Mark T.</h3>
                                <p class="items-p">Boulder, CO</p>
                                <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                                    Cozy Cottage has exceeded our expectations in every way. The team was professional,
                                    attentive, and truly understood our vision. We are absolutely in love with our new
                                    home!"</p>
                            </div>
                            <div class="tm-item">
                                <img src="../../assets/images/jane.png">
                                <img src="../../assets/images/stars.png" class="stars">
                                <h3>Jane & Mark T.</h3>
                                <p class="items-p">Boulder, CO</p>
                                <p>"Choosing Grannyflats to build our tiny home was the best decision we ever made. The
                                    Cozy Cottage has exceeded our expectations in every way. The team was professional,
                                    attentive, and truly understood our vision. We are absolutely in love with our new
                                    home!"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <!-----Testimonials----->

    <!----subscribe---->

    <section class="subscribe py">
        <div class="container">
            <div class="subscribe1">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="sub_img">
                            <img src="../../assets/images/subscribe.png">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="sub_text">
                            <h2> Subscribe to Our Newsletter</h2>
                            <p> Join our community of tiny home enthusiasts and stay updated with the latest news, tips,
                                and trends in the tiny home movement.</p>
                            <form action="/action_page.php">
                                <input type="email" class="form-control" placeholder="Your email address"
                                    aria-label="Your email address">
                                <button type="button" class="btn btn-success">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----subscribe---->

</main>