.py {
    padding-top: 50px;
    padding-bottom: 50px;
}

body {
    font-size: 20px;
}

h2 {
    font-size: 55px;
}


/* banner */
.grid {
    padding: 20px 20px;
    background-color: #f3fcfb;
    padding-top: 180px;
    max-width: 100%;
}

.grid .card {
    margin-bottom: 20px;
    background-color: white;
}

.grid .card-title {
    font-size: 1.5rem;
}

.grid .card-body {
    background-color: white;
}

.grid .card-title {
    font-weight: bold;
    font-size: 60px;
}

span {
    color: #208678;
}

.grid .card-text {
    font-size: 20px;
}

.grid .btn {
    background-color: #4b4b4b;
    border-radius: 0;
    padding: 10px 30px;
}

.grid .card {
    border-color: white;
}

.grid .card_img {
    /* height: 530px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 70px;
}

.grid_serv {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.grid_text p {
    font-weight: bold;
}

.grid_text {
    text-align: center;
    padding: 10px 35px;
}

/* banner */


/* work */
.work .card {
    margin-bottom: 20px;
    border-color: white;
    background-color: white;
}

.work .card-body {
    background-color: white;
}

.work .card-title {
    font-size: 1.5rem;
}

.work .card-text {
    color: #666;
}

.work .card-body h2 {
    font-size: 55px;
    font-weight: bold;
}

.work .card_img {
    padding-top: 20px;
    width: 100%;
}

.work .sec_img {
    padding-top: 20px;
    max-width: 100%;
}

/* work */

/*services */

.services {
    background-color: #f3fcfb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services h2 {
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
}

.services .owl-carousel .item {
    text-align: center;
}

.services .item_sec {
    display: flex;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.services .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.services .center{
    position: relative;
}

.services .center:before{
    content: '';
    position: absolute;
    left: -10px;
    top: 12px;
    border: 1px solid #208678;
    width: 100%;
    height: calc(100% - 15px);
    z-index: -1;
}

.services .item_text {
    padding-right: 25px;
    text-align: left;
}

.item_p p {
    background-color: white;
}

button.owl-next {
    background-color: #f3fcfb;
    border-color: #f3fcfb;
    border: none;
}

button.owl-prev {
    background-color: #f3fcfb;
    border-color: #f3fcfb;
    border: none;
}

.custom-nav {
    text-align: right;
    margin-top: 50px;
}

/*services */

/* designed */

.designed h2 {
    margin-bottom: 30px;
    text-align: center;
}

.designed .des_text {
    text-align: center;
    padding: 20px 20px
}

.designed .des_text h4 {
    margin-top: 10px;
    font-style: bold;
}

.designed .des_text p {
    font-size: 20px;
}

.designed .bg {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.designed .btn {
    border-radius: 0;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #4b4b4b;
}

/* designed */


/* project */
.project_heading {
    display: flex;
    margin-bottom: 20px;
}

.project {
    background-color: #f3fcfb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.project .custom-nav {
    margin-left: auto;
}

.project h2 {
    font-size: 45px;
}

.project .owl-carousel .project_item {
    text-align: center;
}

.project .item_sec {
    display: flex;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.project .project_item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project .item_text {
    padding-right: 25px;
    text-align: left;
}

.units {
    display: flex;
}

.date {
    margin-left: auto;
}

.law-unit {
    color: #208678;
    padding-left: 40px;
    position: relative;
    margin-top: 10px;
    font-size: 21px;
}

.date {
    margin-top: 10px;
    font-size: 21px;
}

.law-unit:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background: #208678;
}
span {
    background: none;
}

.project_item h4 {
    font-size: 26px;
    color: #383636;
    line-height: 24px;
    text-align: left;
}

/* .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: transparent;
    display: none;
    transition: opacity .2s ease;
    border-radius: 30px;
} */

/* projects */

/*testimonials*/

.testimonial {
    background-color: #f3fcfb;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
}

.tm-item {
    text-align: center;
}

.owl-nav {
    display: none;
}

.tm-item img {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.test_text {
    margin-top: 50%;
}

.card {
    padding-left: 20px;
    border: #f3fcfb;
    background-color: #f3fcfb;
}

.card h3 {
    color: #208678;
}

.card-body {
    background-color: #f3fcfb;
}

.card-body h3 {
    font-size: 28px;
}

.testimonial .card h3 {
    color: #208678;
    padding-left: 60px;
}

.testimonial .card-body h2 {
    font-size: 42px;
    font-weight: 600;
}

.tm-item h3 {
    font-size: 24px;
    color: #208678;
}

.items-p {
    font-size: 18px;
    font-weight: bold;
}

.tm-item p {
    font-size: 19px;
    font-style: italic;
}

.tm-item {
    background-color: white;
    margin-right: 20px;
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.stars {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 20px;
}

.subtitle .title:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 13%;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    background: #208678;
}

.testimonial .card-body {
    padding: 0;
}

/*testimonials*/

/* subscribe*/
.subscribe {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subscribe .subscribe1 {
    background-color: #208678;
    border-radius: 20px;
    margin-top: 50px;
}

.subscribe .sub_img {
    padding-top: 20px;
    padding-bottom: 20px;
}

.subscribe .sub_img img {
    width: 100%;
}

.subscribe .sub_text h2 {
    color: white;
    font-size: 42px;
}

.subscribe .sub_text p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.subscribe .sub_text {
    padding: 30px 20px;
}

.subscribe form {
    display: flex;
}

.subscribe .form-control {
    display: inline;
    width: 50%;
    padding: 10px 10px;
    background-color: white;
    border-color: white;
    border-radius: 0;
}

.subscribe .btn {
    padding: 10px 30px;
    color: white;
    background-color: #4b4b4b;
    border-color: #4b4b4b;
    border-radius: 0;
}

/* subscribe */
@media only screen and (min-width: 1441px) {

    /* .grid[_ngcontent-ng-c1324567157] .card_img[_ngcontent-ng-c1324567157] {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 127px;
    } */
}

@media only screen and (max-width: 1199px) {
    .grid .card-title {
        font-weight: bold;
        font-size: 45px;
    }
    .grid .card-text {
        font-size: 18px;
    }
    .grid_text {
        padding: 10px 22px;
    }
    .grid .card_img {
        padding: 30px 42px;
    }
    .work .card-body h2 {
        font-size: 42px;
        font-weight: bold;
    }
    .services h2 {
        font-size: 42px;
    }
    h2 {
        font-size: 42px;
    }
    .designed .des_text {
        height: 280px;
        margin-bottom: 20px;
    }
    .project h2 {
        font-size: 42px;
    }
    .test_text {
        margin-top: 0;
    }
    .tm-item p {
        font-size: 18px;
    }
    .subscribe .sub_text p {
        font-size: 18px;
    }
    .testimonial .card-body h2 {
        margin-bottom: 20px;
    }
    .subtitle .title:before {
        left: 0;
        width: 50px;
    }
    .card{
        padding-left: 0;
    }
}

@media only screen and (max-width: 991px) {
    .py {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .grid {
        padding-top: 100px;
    }
    
    .grid_serv {
        margin-bottom: 20px;
    }
    
    .grid .card_img {
        /* width: 100%; */
        max-width: 100%;
    }
    .designed .des_text {
        height: 310px;
    }
    .designed .des_text p {
        font-size: 18px;
    }
    .date {
        margin-top: 10px;
        font-size: 18px;
    }
    .law-unit {
        padding-left: 23px;
        font-size: 17px;
    }
    .law-unit:before {
        width: 20px;
    }
    .project_item[_ngcontent-ng-c1517086803] h4[_ngcontent-ng-c1517086803] {
        font-size: 20px;
        line-height: 0;
        text-align: left;
        margin-bottom: 15px;
    }
    

    
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
    .grid_text {
        padding: 5px 14px;
    }
    .grid .card-title {
        font-size: 36px;
    }
    .grid .card-text {
        font-size: 15px;
    }
    .grid_text p {
        font-size: 12px;
    }
    .grid .card_img {
        padding: 0;
    }
    .card {
         padding-left: 0;
    }
    .work .card-body h2 {
        font-size: 35px;
    }
    .services h2 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    .designed .des_text {
        height: 275px;
    }
    .project h2 {
        font-size: 35px;
    }

    .testimonial .card-body h2 {
        font-size: 35px;
    }
    .subscribe .sub_text h2 {
        font-size: 35px;
    }
    .card-body h3 {
        font-size: 25px;
    }
    .subtitle .title:before {
        left: 0;
        top: 12%;
        width: 35px;
    }
    .project_item h4 {
        font-size: 21px;
        line-height: 15px;
    }
    .testimonial .card h3 {
        padding-left: 40px;
    }
}